ion-content{
    --ion-background-color:#ffffff;
}

ion-card{
    background-color:#182434;
    color: rgb(255, 255, 255);
}

ion-card-header{
    color: rgb(255, 255, 255);
}

.hi{
    color: white;
}

.lower{
    color: white;
}