ion-content{
    --ion-background-color:#ffffff;
}

ion-card{
    background-color:#182434;
    color: rgb(255, 255, 255);
}

ion-card-header{
    color: rgb(255, 255, 255);
}




ion-segment-button.selected{
    color: #ffffff;
}

ion-segment{
    background-color: #253852;
}

ion-card-subtitle{
    color: #ffffff;
  }
  
  ion-card-title{
    color: #ffffff;
  }
  
  ion-menu-button{
    color: white;
  }

  ion-card-content{
    color: #ffffff;
  }

  .hi{
    color: white;
}