ion-content{
    --ion-background-color:#ffffff;
}

ion-label,
ion-input{
color: #182824;
}



.btn{
    background-color: transparent;
    color:#182824;
}

ion-item{
    background-color: #ffffff;
}

.hi{
    color: white;
}
