ion-content{
    --ion-background-color:#ffffff;
}

ion-input{
    --background: #ffffff;
    --color: #18243f;
     width: 80%;
     margin-left: 10%;
     justify-self: center;
     border-bottom: 3px solid #182434;
  }

.custom-select {
    color: #182434;
    padding: 2px;
   /*border: 2px solid #182434;*/
   
   
}

.hi{
    color: white;
}