ion-content{
    --ion-background-color:#ffffff;
}

ion-input{
    --background: #ffffff;
    --color: #18243f;
     border-color:#18243f;
  }

.custom-select {
    color: #182434;
    padding: 2px;
   /*border: 2px solid #182434;*/
   
   
}