ion-content{
  --ion-background-color:#ffffff;
}


  

.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    justify-self: center;
    background-color: #ffffff;
  }
  
  .custom-button {
    width: 40%;
    --background: #18243f;
  }

  .forgot-password-container {
    display: flex;
    justify-content: flex-end;
    width: 90%
  }

  ion-input{
    --background: #ffffff;
    --color: #18243f;
    border-bottom: 3px solid #182434;

  width: 80%;
  margin-left: 10%;
  justify-self: center;
  }


  ion-item{
    --color:var(--ion-background-color)
    --background: #ffffff;
  }

  .item{
    background-color: #ffffff;
    color: #18243f;
  }

  .inputM{
    border-color: #18243f;
  }

