

<ion-content [fullscreen]="true">
  

  <div id="container">
    <ion-img
     src="../../assets/imgs/Navy Logo.png"
    alt="Logo"
></ion-img>
  </div>

  
      
      <ion-input label="Email" labelPlacement="stacked" type="email" placeholder="Enter email" [(ngModel)]='user.email'></ion-input>
    
      <ion-input label="Password" labelPlacement="stacked" type="password" placeholder="Enter Password" [(ngModel)]='user.password'></ion-input>
    
  <div class="button-container">
    <ion-button fill="clear" routerLink="/home" style="color: #182434;"><ion-icon slot="start" name="arrow-back"></ion-icon>Back</ion-button>
    <ion-button class="custom-button" (click)=login(user)>Sign in</ion-button>
  </div>
  <div class="forgot-password-container">
    <a  (click)="setOpen(true)" >Forgot Password?</a>

    <ion-modal [isOpen]="isModalOpen" class="modal" mode="md">
      <ng-template>
        <ion-header style="--background: #253852;">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)">Cancel</ion-button>
            </ion-buttons>
            <ion-title>Password Reset</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="forgotPassword()">Reset</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-input label="Email" type="email"  [(ngModel)]="reset" class="test" style="border-bottom: 3px #253852;"></ion-input>
        </ion-content>
      </ng-template>
    </ion-modal>

  </div>

</ion-content>
