ion-content{
    --ion-background-color:#ffffff;
}

.custom-select {
    color: #182434;
    padding: 2px;
    border-bottom: 1px solid #182434;
}

ion-input{
    --background: #ffffff;
    --color: #18243f;
    border-bottom: 1px solid #182434;
  }

ion-text{
    color: #18243f;
}