ion-content{
    --ion-background-color:#ffffff;
}

ion-card{
    background-color: #182434;
}



.ion-padding ion-input{
    color: #182434;
}

ion-text{
    color: #18243f;
}

.custom-select {
    color: #182434;
    padding: 2px;
    border-bottom: 2px solid #182434;
}

.test{
    border-bottom: 2px solid #182434;
}