ion-content{
    --ion-background-color:#ffffff;
}

ion-card{
    background-color: #182434;
}



.ion-padding ion-input{
    color: #182434;
}

.hi{
    color: white;
}

ion-text{
    color: #18243f;
}

.custom-select {
    color: #182434;
    padding: 2px;
    border-bottom: 2px solid #182434;
}

.test{
    border-bottom: 2px solid #182434;
}

ion-segment-button.selected{
    background-color: #182434;
    background: #182434;
    
}

ion-segment{
    background-color: #253852;
}

ion-card-subtitle{
    color: #ffffff;
  }
  
  ion-card-title{
    color: #ffffff;
  }
  
  ion-menu-button{
    color: white;
  }

  ion-card-content{
    color: #ffffff;
  }