ion-content{
    --ion-background-color:#ffffff;
}

ion-menu {
    --ion-background-color: #182434;
}

.menuButtons ion-button{
    width: 50%;
    height: 7%;
    color: #ffffff;
    width: fit-content;

}

.icon-button span{
    margin-left: 7px;
}


ion-img{
        height: 70%;
        width: 70%;
}

.user{
    height: 150%;

}

.icon-button {
    display: flex;
    align-items: left;
  }
  
  .button-text {
    margin-left: 8px; 
  }

ion-avatar{
    color: #182434;
}

.centerIcon {
    color: black;
  }



  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 10rem; /* Adjust the font size as needed */
  }
  
  

.horizontal-line {
    width: 99%;
    height: 2px;
    background-color: #18243f; 
  }

ion-card-header{
    color: rgb(255, 255, 255);
}

ion-card{
    background-color: #182434;
}

ion-card-subtitle{
  color: #ffffff;
}

ion-card-title{
  color: #ffffff;
}

ion-menu-button{
  color: white;
}

.bro{
  color: white;
}

.hi{
  color:#253852;
}

.hi.selected{
  color:#93a7c3;
}

ion-card-content{
  color: #ffffff;
}

.center-title {
  /* Set the title element to expand and take up all available space */
  flex: 1;

  /* Center the text horizontally and vertically within the title element */
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
  margin-top: -150px;
}