ion-content{
    --ion-background-color:#ffffff;
}

ion-textarea{
    --background: #f0f0f0;
    --color: #18243f;
    border-bottom: 3px solid #182434;
    max-height:none;
    border-left: 2px solid #182434;
    border-right: 2px solid #182434;
    

    width: 80%;
  margin-left: 10%;
  justify-self: center;
    
}

ion-input{
    --background: #f0f0f0;
    --color: #18243f;
    border-bottom: 3px solid #182434;

    width: 80%;
  margin-left: 10%;
  justify-self: center;
}

ion-card{
    background-color: #182434;
}

ion-card-title,
ion-card-content{
    color: white;
}

.hi{
  color: white;
}