ion-content{
   --background: url(../../assets/imgs/Contact.png);
   background-size: cover;
   background-attachment: fixed;
}

ion-button{
    --background: #18243f;
}

.logo{
    color: white;
}


