<ion-header>
  <ion-toolbar style="--background: #253852;">
    <ion-buttons slot="start">
      <ion-button routerLink="/tasks">
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>Class Schedule</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-input label="Course-Name" label-placement="floating" placeholder="Course-Name" ></ion-input>

  <ion-select label="Academic Term" label-placement="floating" class="custom-select" fill="outline" >
    <ion-select-option >
      
    </ion-select-option>
  </ion-select>
</ion-content>
